body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  .navbar {
    background-color: #1a1a1a;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 70px;
    margin: 0 auto;
    align-items: center;
  }
  
  .navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .navbar a:hover {
    border-bottom: 2px solid #fff;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
  }
  
  .col2 {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #888;
  }
